{% extends 'base.html' %}
{% load bootstrap3 i18n static %}
{% block title %}{% trans 'Login' %}{% endblock %}

{% block contents %}
<div class="row">

  <div class="col-md-6">
    <div class="auth-container">

      <form method="post" class="form-horizontal" accept-charset="UTF-8"> {% csrf_token %}
        <h2>{% trans 'Sign In' %}</h2>
        {% bootstrap_form form layout='horizontal' %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign In' %}</button>
      </form>

      <a class="btn btn-lg btn-warning btn-block btn-facebook"
        href="{% url 'social:begin' backend='facebook'  %}?{{ request.GET.urlencode }}">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        {% trans 'Facebook Login' %} </a>

      <a class="btn btn-lg btn-warning btn-block btn-shop"
        href="{% url 'social:begin' backend='shop'  %}?{{ request.GET.urlencode }}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        {% trans 'Shop Login' %} </a>

    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
{% endblock %}
