{% extends 'base.html' %}
{% load bootstrap3 i18n static %}
{% block title %}{% trans 'Profile' %}{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-md-6">
    <div class="auth-container">
      <a class="btn btn-lg btn-primary btn-block btn-facebook" href="#">
        {{ user }}
      </a>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="auth-container">
      <a class="btn btn-lg btn-danger btn-block btn-facebook"
          href="{% url 'accounts_logout' %}?next={% url 'accounts_profile_index' %}">
            {% trans 'Sign Out'%}</a>
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="auth-container">
      <a class="btn btn-lg btn-warning btn-block btn-facebook"
        href="{% url 'social:begin' backend='facebook'  %}?{{ request.GET.urlencode }}">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        {% trans 'Facebook Connect' %} </a>

    </div>
</div>
</div>
{% endblock %}
